@font-face {
  font-family: 'Ubuntu-BoldItalic';
  src: url('../assets/fonts/Ubuntu-BoldItalic.ttf');
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../assets/fonts/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('../assets/fonts/Ubuntu-Medium.ttf');
}

@font-face {
  font-family: 'Ubuntu-MediumItalic';
  src: url('../assets/fonts/Ubuntu-MediumItalic.ttf');
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('../assets/fonts/Ubuntu-Regular.ttf');
}

/* Heebo ------------------------------------------------------- */
@font-face {
  font-family: 'Heebo-Regular';
  src: url('../assets/fonts/Heebo-Regular.ttf');
}

@font-face {
  font-family: 'Heebo-Medium';
  src: url('../assets/fonts/Heebo-Medium.ttf');
}

@font-face {
  font-family: 'Heebo-Bold';
  src: url('../assets/fonts/Heebo-Bold.ttf');
}
